<h3 class="content-header">Make a new poll</h3>
<div class="internal">
  <form class="create-poll-form" method="post" action="/poll/<%= pollid %>">
    <div id="poll-name-wrapper">
      <label>Poll name</label>
      <input type="text" placeholder="Name" name="name">
    </div>
    <div class="options">
      <div>
        <label>Option</label>
        <input type="text" name="option">
        <p id="add-option" style="display: inline-block;">+</p>
      </div>
      <div>
        <label>Option</label>
        <input type="text" name="option">
      </div>
    </div>
    <div>
      <label>Privacy</label>
      <input type="checkbox" name="private">
      <p>Private</p>
      <input type="checkbox" name="public" checked>
      <p>Public</p>
    </div>
    <button class="form-button" type="submit">Submit</button>
  </form>
</div>
