  </main>
  <footer>
    <p>Copyright 2017 - <a href="http://zach-long.github.io" target="_blank"><u>Zachary Long</u> <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
  </footer>
  <div id="authenticate" class="animate-fast">
    <div id="registration-form">
      <%- include('partials/register.ejs') %>
    </div>
    <div id="login-form">
      <%- include('partials/login.ejs') %>
    </div>
  </div>
  <script src="/javascript/scripts.js" rel="javascript" type="text/javascript"></script>
</body>
</html>
