<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voting App</title>
  <link href="/main.css" rel="stylesheet" type="text/css">
  <link href="resources/favicon.png" rel="icon" size="16x16" type="image/jpeg">
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <% if (!user) { %>
        <li><a class="login">Log in to create a poll</a></li>
        <% } else { %>
        <li><a href="/poll">Create a poll</a></li>
        <% } %>
      </ul>
    </nav>
    <div>
      <% if (!user) { %>
      <ul>
        <li><button id="register" class="auth-button button-text">Register</button></li>
        <li><button class="login auth-button button-text">Log in</button></li>
      </ul>
      <div id="registration-form">
        <%- include('partials/register.ejs') %>
      </div>
      <div id="login-form">
        <%- include('partials/login.ejs') %>
      </div>
      <% } else { %>
      <ul>
        <li><p>Welcome, <%= user.name %>.</p></li>
        <li><a href="/u/logout" class="logout">Log out</a></li>
      </ul>
      <% } %>
    </div>
  </header>
  <main>
