<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voting App</title>
  <link href="/main.css" rel="stylesheet" type="text/css">
  <link href="resources/favicon.png" rel="icon" size="16x16" type="image/jpeg">
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <% if (user) { %><li><a href="/u">Profile</a></li><% } %>
      </ul>
    </nav>
    <div>
      <% if (!user) { %>
      <ul>
        <li>Register</li>
        <li>Log in</li>
      </ul>
      <% } else { %>
      <ul>
        <li>Welcome, <%= user.name %></li>
      </ul>
      <% } %>
    </div>
  </header>
