<div class="userPoll">

  <% if (userPoll.privacy === 'private') { %>
    <p>private</p>
  <% }; %>

  <a href="/poll/vote/<%= userPoll.pollid %>"><%= userPoll.name %></a>
  <div class="form-container">
    <form method="post" action="/poll/delete/<%= userPoll.pollid %>">
      <button class="delete-button" type="submit" name="<%= userPoll.pollid %>">Delete</button>
    </form>
  </div>
</div>
