<div class="userPoll">
  <a href="/poll/vote/<%= poll.pollid %>"><%= poll.name %></a>
  <div class="form-container">
    <form method="post" action="/poll/delete/<%= poll.pollid %>">
      <button class="delete-button" type="submit" name="<%= poll.pollid %>">Delete</button>
    </form>
  </div>
</div>
