<div>
  <a href="/poll/vote/<%= poll.pollid %>"><%= poll.name %></a>
  <form method="post" action="/poll/delete/<%= poll.pollid %>">
    <button type="submit" name="<%= poll.pollid %>">Delete</button>
  </form>
</div>
