<% include components/header.ejs %>

  <% if (typeof errors!='undefined') { %>
    <div class="error-messages">
    <h3>Account creation unsuccessful</h3>
    <% errors.forEach(function(error) { %>
      <p><%= error.msg %></p>
    <% }); %>
    </div>
  <% }; %>

  <div class="main-content">
    <h3 class="content-header">View all polls</h3>
    <% openPolls.forEach(function(poll) { %>
      <%- include('components/openPolls', { openPoll: poll }); %>
    <% }); %>
  </div>

<% include components/footer.ejs %>
