<% include components/header.ejs %>

  <h3>View all polls</h3>
  <% polls.forEach(function(poll) { %>
    <%- include('components/openPolls', { poll: poll }); %>
  <% }); %>

<% include components/footer.ejs %>
