<% include components/header.ejs %>

  <h1>Voting App</h1>

  <div class="main-content">
    <h3 class="content-header">View all polls</h3>
    <% openPolls.forEach(function(poll) { %>
      <%- include('components/openPolls', { openPoll: poll }); %>
    <% }); %>
  </div>

<% include components/footer.ejs %>
