<!DOCTYPE html>
<html>
<head>

    <title>Header Parser</title>
</head>
<body>

  <div><% include partials/register.ejs %></div>
  <div><% include partials/login.ejs %></div>
  <h1>Hello, world!</h1>
  <nav><% include partials/navigation.ejs %></nav>

</body>
</html>
