<% include components/header.ejs %>

  <a href="/u" class="back-button">Go back</a>

  <div class="main-content">
    <% if (typeof poll != 'undefined') { %>
      <% console.log(poll) %>
      <%- include('partials/editPoll', {poll: poll}); %>
    <% } else { %>
      <%- include('partials/createPoll'); %>
    <% }; %>
  </div>

<% include components/footer.ejs %>
