<!DOCTYPE html>
<html>
<head>

    <title>Voting App</title>
</head>
<body>

  <a href="/u">Go back</a>

  <h2>Make a new poll</h2>
  <form method="post" action="/poll/<%= pollid %>">
    <div>
      <label>Poll name</label>
      <input type="text" placeholder="Name" name="name">
    </div>
    <div>
      <label>Option</label>
      <input type="text" name="option">
    </div>
    <div>
      <label>Option</label>
      <input type="text" name="option">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  
  <nav><% include partials/navigation.ejs %></nav>

</body>
</html>
