<% include components/header.ejs %>

  <h1>Voting App</h1>

  <div class="main-content">
    <h3 class="content-header">See your polls</h3>
    <% polls.forEach(function(poll) { %>
      <%- include('components/userPolls', { poll: poll }); %>
    <% }); %>
  </div>

<% include components/footer.ejs %>
