<!DOCTYPE html>
<html>
<head>

    <title>Header Parser</title>
</head>
<body>

  <a href="/u/logout">Log out</a>
  <h1>Welcome, <%= user.name %></h1>
  <nav><% include partials/navigation.ejs %></nav>

  <h3>See your polls</h3>
  <% polls.forEach(function(poll) { %>
    <%- include('components/link', { poll: poll }) %>
  <% }) %>

</body>
</html>
