<% include components/header.ejs %>

  <h3>See your polls</h3>
  <% polls.forEach(function(poll) { %>
    <%- include('components/userPolls', { poll: poll }); %>
  <% }); %>

<% include components/footer.ejs %>
