<!DOCTYPE html>
<html>
<head>

    <title>Voting App</title>
</head>
<body>

  <h2><%= poll.name %></h2>
  <div>
    <% poll.options.forEach(function(option) { %>
      <%- include('components/voting_result', {choice: option.choice, votes: option.votes}) %>
    <% }) %>
    <p>You voted for "<%= vote %>"</p>
  </div>

  <nav><% include partials/navigation.ejs %></nav>

</body>
</html>
