<% include components/header.ejs %>

  <a href="/u" class="back-button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go back</a>

  <div class="main-content">
    <h3 class="content-header"><%= poll.name %></h3>
    <div class="internal">
      <div id="loading">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
      </div>
      <div class="poll-display-wrap">
        <canvas id="poll-result-visual"></canvas>
      </div>
      <p class="caption">You voted "<b><%= vote %></b>"</p>
    </div>
  </div>

  <% if ((user) && (String(poll.creator) === String(user._id))) { %>
    <%- include('partials/ownerPartial', { poll: poll, req: req }); %>
  <% }; %>

<script src="/javascript/modules/Chart.min.js"></script>
<script src="/javascript/httpRequest.js"></script>
<script src="/javascript/pollResults.js"></script>

<% include components/footer.ejs %>
