<% include components/header.ejs %>

  <h1>Voting App</h1>
  <a href="/u" class="back-button">Go back</a>

  <div class="main-content">
    <h3 class="content-header"><%= poll.name %></h3>
    <div class="internal">
      <form class="vote-form" method="post" action="/poll/vote/<%= poll.pollid %>">
        <% poll.options.forEach(function(option) { %>
          <%- include('components/voting_option', {choice: option.choice}) %>
        <% }) %>
      </form>
    </div>
  </div>

<% include components/footer.ejs %>
