<% include components/header.ejs %>

  <a href="/u" class="back-button">Go back</a>

  <div class="main-content">
    <h3 class="content-header"><%= poll.name %></h3>
    <div class="internal">
      <form class="vote-form" method="post" action="/poll/vote/<%= poll.pollid %>">
        <% poll.options.forEach(function(option) { %>
          <%- include('components/voting_option', {choice: option.choice}); %>
        <% }); %>
      </form>
    </div>
  </div>

  <!-- owner section -->
  <% if ((user) && (String(poll.creator) === String(user._id))) { %>

    <% if (poll.privacy === 'private') { %>
      <p>Send this link to a friend: <%= req.hostname + req.originalUrl %></p>
    <% }; %>

  <% }; %>

<% include components/footer.ejs %>
