<% include components/header.ejs %>

  <h2><%= poll.name %></h2>
  <form method="post" action="/poll/vote/<%= poll.pollid %>">
    <% poll.options.forEach(function(option) { %>
      <%- include('components/voting_option', {choice: option.choice}) %>
    <% }) %>
  </form>

<% include components/footer.ejs %>
