#login-form {
  position: absolute;
  background-color: #ffffff;
  margin-top: 5em;
  margin-left: 3.25em;
  @include xBrowserFlexColInside;
  display: none;

  .modal-header {
    @include xBrowserFlexRowOutside;
  }

  form {
    @include xBrowserFlexColInside;

    div {
      padding-bottom: .125em;
      @include xBrowserFlexRowOutside;
    }
  }
}

#registration-form {
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 6px 3px #333;
  padding: 1%;
  width: 20%;
  top: 30%;
  left: 50% - 10% - 1%;
  @include xBrowserFlexColInside;
  display: none;

  .modal-header {
    @include xBrowserFlexRowOutside;
  }

  form {
    margin-top: .5em;
    @include xBrowserFlexColInside;

    div {
      padding-bottom: .125em;
      @include xBrowserFlexRowOutside;

      .form-button {
        margin: 1em auto 0 auto;
      }
    }
  }
}

.back-button {
  position: absolute;
  margin-top: .5em;
}

.button-text {
  font-size: 1em;
}

.vote-button {
  margin-bottom:.5em;
  cursor: pointer;
  @include flatButton(21em, 3em, $lightBlue);
  transition: background-color 150ms, color 150ms;
  &:hover {
    background-color: $darkColor;
    color: $lightText;
  }
  &:click {
    background-color: $darkColor;
  }
}

.delete-button {
  margin: 0;
  cursor: pointer;
  margin-right: .5em;
  @include flatButton(7em, 2em, $lightRed);
  transition: background-color 150ms;
  &:hover {
    background-color: $brightRed;
  }
}

.form-button {
  margin: 0;
  cursor: pointer;
  @include flatButton(21em, 3em, $lightBlue);
  transition: background-color 150ms, color 150ms;
  &:hover {
    background-color: $darkColor;
    color: $lightText;
  }
}

.auth-button {
  margin: 0;
  cursor: pointer;
  width: 9em;
  height: 2em;
  border: none;
  border-radius: 2px;
  background-color: $lightColor;
  transition: background-color 150ms, color 150ms;
  &:hover {
    background-color: $darkerColor;
    color: $lightText;
  }
}

#poll-name-wrapper {
  padding-bottom: .125em;
}

.create-poll-form {
  @include xBrowserFlexColCenter;
}

.options {
  padding-bottom: 1em;

  div {
    padding-bottom: .125em;
  }
}

.poll {
  border-bottom: 1px solid #CCCCCC;
  padding: .125em 0 .125em 0;
  transition: background-color 150ms;

  &:hover {
    background-color: #CCCCCC;
  }

  a {
    display: block;
  }
}

.userPoll {
  border-bottom: 1px solid #CCCCCC;
  height: $userPollHeight;
  position: relative;

  a {
    display: inline-block;
    line-height: 2em;
    transition: color 150ms;
    &:hover {
      color: $darkerColor;
    }
  }
}

.form-container {
  height: $userPollHeight;
  position: absolute;
  right: 0;
  display: inline-block;

  form {
    height: 100%;
    @include centeredVertically;
  }
}

.internal {
  padding-top: .5em;
}

.caption {
  padding-top: 1em;
}
