html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  @include xBrowserFlexColCenter;
}

header {
  background: $darkColor;
  height: 3em;
  @include fullWidth;
  @include xBrowserFlexRowOutside;

  a {
    //text-decoration: underline;
  }

  nav {
    @include centeredVertically;

    ul {
      list-style-type: none;
      padding: 0 0 0 2em;
      margin: 0;

      li {
        display: inline-block;
        padding-right: 1em;

        a {
          cursor: pointer;
        }
      }
    }
  }

  div {
    @include centeredVertically;

    ul {
      list-style-type: none;
      padding: 0 2em 0 0;
      margin: 0;

      li {
        display: inline-block;
        padding-left: 1em;

        p {
          color: $lightText;
        }
      }
    }
  }
}

main {
  text-align: center;
  flex: 1 1 auto;
  @include setWidth(90%);
  @include xBrowserFlexColInside;
  @include tablet {
    @include setWidth(70%);
  }
  @include desktop {
    @include setWidth(50%);
  }

  h1 {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .main-content {
    max-height: 80%;
    overflow-y: scroll;
    background-color: $lightColor;
    margin-bottom: 1em;
    @include xBrowserFlexColInside;
    @include sideBorders {
      border-color: $darkColor;
    };

    .content-header {
      padding: .5em 0 .5em 0;
      border-bottom: 1px solid $lightColorDarker;
    }
  }
}

footer {
  padding: .75em 0 .75em 0;
  margin: 0;
  background-color: $darkerColor;
  @include fullWidth;
  @include xBrowserFlexRowCenter;

  p {
    color: $lightText;
  }
}
