h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #333333; }

label, button {
  font-family: "Lato", sans-serif;
  color: #333333; }

p {
  font-size: 1em; }

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #F2F2F2; }

main a {
  color: #437A98; }

.visible {
  display: flex !important; }

.animate-fast {
  -webkit-animation-duration: 0.1s;
  -moz-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

.animate-norm {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

.animate-slow {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

/* classes for animation using composite of mixins */
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn; }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: 0; }
  100% {
    opacity: 1;
    z-index: 2; } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: 0; }
  100% {
    opacity: 1;
    z-index: 2; } }
.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  animation-name: fadeOut; }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 2; }
  100% {
    opacity: 0;
    z-index: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 2; }
  100% {
    opacity: 0;
    z-index: 0; } }
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }

header {
  background: #437A98;
  height: 3em;
  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  header nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center; }
    header nav ul {
      list-style-type: none;
      padding: 0 0 0 2em;
      margin: 0; }
      header nav ul li {
        display: inline-block;
        padding-right: 1em; }
        header nav ul li a {
          cursor: pointer; }
  header div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center; }
    header div ul {
      list-style-type: none;
      padding: 0 2em 0 0;
      margin: 0; }
      header div ul li {
        display: inline-block;
        padding-left: 1em; }
        header div ul li p {
          color: #F2F2F2; }

main {
  text-align: center;
  flex: 1 1 auto;
  min-width: 90%;
  width: 90%;
  max-width: 90%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (min-width: 768px) {
    main {
      min-width: 70%;
      width: 70%;
      max-width: 70%; } }
  @media (min-width: 1440px) {
    main {
      min-width: 50%;
      width: 50%;
      max-width: 50%; } }
  main h1 {
    padding-top: 5%;
    padding-bottom: 1%; }
  main h5 {
    padding-bottom: 5%; }
  main .main-content {
    max-height: 80%;
    overflow-y: scroll;
    background-color: #F2F2F2;
    margin-bottom: 1em;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    align-content: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border-left: 3px solid;
    border-right: 3px solid;
    border-color: #437A98; }
    main .main-content .content-header {
      padding: .5em 0 .5em 0;
      border-bottom: 1px solid #CCCCCC; }

footer {
  padding: .75em 0 .75em 0;
  margin: 0;
  background-color: #274759;
  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  footer p {
    color: #F2F2F2; }

.poll-display-wrap {
  padding: 1em; }

#login-form {
  position: absolute;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin-top: 7em;
  margin-right: 1em;
  right: 0;
  padding: 1%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  opacity: 0; }
  #login-form .modal-header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    align-content: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  #login-form form {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    align-content: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    #login-form form div {
      padding-bottom: .125em;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: stretch;
      align-items: stretch;
      -webkit-align-content: center;
      align-content: center;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap; }

#registration-form {
  position: absolute;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin-top: 9em;
  margin-right: 1em;
  right: 0;
  padding: 1%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  opacity: 0; }
  #registration-form .modal-header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    align-content: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  #registration-form form {
    margin-top: .5em;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    align-content: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    #registration-form form div {
      padding-bottom: .125em;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: stretch;
      align-items: stretch;
      -webkit-align-content: center;
      align-content: center;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      #registration-form form div .form-button {
        margin: 1em auto 0 auto; }

.back-button {
  position: absolute;
  margin-top: .5em; }

.button-text {
  font-size: 1em; }

.vote-button {
  margin-bottom: .5em;
  cursor: pointer;
  width: 21em;
  height: 3em;
  border: none;
  border-radius: 2px;
  background-color: #B8D1E0;
  transition: background-color 150ms, color 150ms; }
  .vote-button:hover {
    background-color: #437A98;
    color: #F2F2F2; }
  .vote-button:click {
    background-color: #437A98; }

.edit-button {
  margin: 0;
  margin-right: .5em;
  cursor: pointer;
  width: 7em;
  height: 2em;
  border: none;
  border-radius: 2px;
  background-color: #F5DF7B;
  transition: background-color 150ms; }
  .edit-button:hover {
    background-color: #D9B310; }

.delete-button {
  margin: 0;
  margin-right: .5em;
  cursor: pointer;
  width: 7em;
  height: 2em;
  border: none;
  border-radius: 2px;
  background-color: #F09784;
  transition: background-color 150ms; }
  .delete-button:hover {
    background-color: #F34B27; }

.form-button {
  margin: 0;
  cursor: pointer;
  width: 21em;
  height: 3em;
  border: none;
  border-radius: 2px;
  background-color: #B8D1E0;
  transition: background-color 150ms, color 150ms; }
  .form-button:hover {
    background-color: #437A98;
    color: #F2F2F2; }

.auth-button {
  margin: 0;
  cursor: pointer;
  width: 9em;
  height: 2em;
  border: none;
  border-radius: 2px;
  background-color: #F2F2F2;
  transition: background-color 150ms, color 150ms; }
  .auth-button:hover {
    background-color: #274759;
    color: #F2F2F2; }

#poll-name-wrapper {
  padding-bottom: .125em; }

.create-poll-form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .create-poll-form h4 {
    border-bottom: 1px solid #333333; }

.options {
  padding-bottom: .25em; }
  .options div {
    padding-bottom: .125em; }

.privacy {
  padding-bottom: 1em; }

.poll {
  border-bottom: 1px solid #CCCCCC;
  padding: .125em 0 .125em 0;
  transition: background-color 150ms; }
  .poll:hover {
    background-color: #CCCCCC; }
  .poll a {
    display: block; }

.userPoll {
  border-bottom: 1px solid #CCCCCC;
  height: 2em;
  position: relative; }
  .userPoll a {
    display: inline-block;
    line-height: 2em;
    transition: color 150ms; }
    .userPoll a:hover {
      color: #274759; }

.form-container {
  height: 2em;
  position: absolute;
  display: inline-flex;
  right: 0; }
  .form-container form {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center; }

.internal {
  padding-top: .5em;
  padding-bottom: 1em; }

.caption {
  padding-top: 1em;
  padding-bottom: 1em; }

.error-messages {
  padding-bottom: 1em; }
  .error-messages h3 {
    margin-bottom: .25em;
    padding-left: .5em;
    padding-right: .5em;
    display: inline-block;
    border-bottom: 1px solid #333;
    color: #A71D00; }
  .error-messages p {
    color: #A71D00; }

.message {
  padding-bottom: 1em; }
  .message h3 {
    margin-bottom: .25em;
    padding-left: .5em;
    padding-right: .5em;
    display: inline-block;
    border-bottom: 1px solid #333;
    color: #437A98; }
  .message .login {
    display: block;
    margin: auto;
    background-color: #B8D1E0;
    transition: background-color 150ms, color 150ms; }
    .message .login:hover {
      background-color: #437A98;
      color: #F2F2F2; }

.private-tag {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  display: inline-flex;
  position: absolute;
  left: 0;
  height: 2em;
  margin-left: .5em; }

.message-inner {
  padding: .125em 0 .125em 0;
  border-bottom: 1px solid #ccc; }

.checkbox-field input {
  display: inline-block; }
.checkbox-field p {
  display: inline-block; }

/*# sourceMappingURL=main.css.map */
