h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: $darkText;
}

label, button {
  font-family: "Lato", sans-serif;
  color: $darkText;
}

p {
  font-size: 1em;
}

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: $linkTextLight;
}

main {

  a {
    color: $linkTextDark;
  }
}
