$lightText: #F2F2F2;
$darkText: #333333;
$linkTextLight: #F2F2F2;
$linkTextDark: #437A98;

$darkColor: #437A98;
$darkerColor: #274759;
$lightColor: #F2F2F2;
$lightColorDarker: #CCCCCC;
$lightBlue: #B8D1E0;
$lightRed: #F09784;
$brightRed: #F34B27;
$darkRed: #A71D00;
$yellow: #F5DF7B;
$darkYellow: #D9B310;

$userPollHeight: 2em;
